{% extends 'base.html' %}
{% block content   %}
{% load static %}
<div class="container" >
<div style=" padding: 15px 5px 60px 5px;">  
<div class="row">
<div class="col-6">

  <img src= "{% static "images/jisan.jpg" %}"  style="width:500px" id="k">
</div>

<div class="col-6", id="k" >
 <div id="j"> 
 <p> Name         : MD. ZIA UDDIN JISAN</p>
 <p> Father's Name: Md.Firoz UDDIN </p>
 <p> Mother's Name: Johora Begum</h4>
 <p> Address      : Kuchaitoly , Cumilla</p>
 <p> Mobile No    : 01690082661 </p>
 </div> 
</div>
</div>


</div>



<div> <h3 align="center"> My Institutions </h3></div>


<div class="row">
  

<div class="col-4" >
  
  <div class="card bg-dark text-white"  >
    <div class="opacity-25" >
    <img src="{% static "images/ibn.jpg" %}" class="card-img" alt="..."  >
    </div>
    <div class="card-img-overlay">
      <h5 class="card-title">School</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>



</div> 
<div class="col-4" >
  
  <div class="card bg-dark text-white" >
    <div class="opacity-25" >
    <img src="{% static "images/cgc.jpg" %}" class="card-img" alt="..." >
    </div>
    <div class="card-img-overlay">
      <h5 class="card-title">College</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>



</div> 
<div class="col-4" >
  <div class="card bg-dark text-white" >
   <div class="opacity-25"> 
    <img src="{% static "images/diu.jpg" %}" class="card-img" alt="..." >
   </div>
    <div class="card-img-overlay">
      <h5 class="card-title">University</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>


</div> 






</div>
</div>


{% endblock content  %}

