<div class="sticky-top">
<div class="navbar navbar-expand-lg navbar-light bg-dark  justify-content-end " >

<ul class="nav justify-content-end" >
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><p class="text-light bg-dark">Home</p></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}"><p class="text-light bg-dark"> About me</p></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'skill' %}"><p class="text-light bg-dark"> My Skill</p></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'plan' %}"><p class="text-light bg-dark">Future plan</p></a>
    </li>  
    
</ul>

</div>
</div>



