{% extends 'base.html' %}
{% block content   %}
{% load static %}

<div class="container">
<div class="row"> 
       
<div class="text-center">
    <img src="{% static "images/plan.jfif"  %}" class="rounded" alt="..." width="500px" height=" 400px">
  </div>
</div> <br><br>
<div class="row">
<div id="k">
<h3 align="center">     Future Plans </h3>
<p>I like Python programming language. I want to be a web developer by Django  framework. And want to be a data scientist. I want to be manager of an  online shop using my digital marketing skills.
</p>
</div>        
</div>    
</div>
{% endblock content  %}